@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html{
  scroll-behavior: smooth;
}
.napn{
  font-family: "Lexend", sans-serif;
}
.headercontent{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),url("./background.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.output{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),url("./background.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
.predict{
  background: rgb(74,32,113);
  background: linear-gradient(82deg, rgba(74,32,113,1) 0%, rgba(17,5,23,1) 100%); 
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}